*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    background-color: aliceblue;


}


.container {
position: relative;
margin: 0 auto;
width: 960px;


}
#message {
    position: absolute;
    text-align: center;
    padding: 65px;
    width: 200px;
    height: 190px;
    left: 800px;
    top: -200px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;

}

.reg {
    position: absolute;
    left: 334px;
    top: 0;
    border: 1px solid black;
    opacity: 0;
    margin: 0 auto;
    padding: 25px;
    width: 300px;
    height: 190px;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

 }
.registration_show {
    padding: 25px;
    position: absolute;
    left: 334px;
    top: 0;
    width: 300px;
    height: 190px;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 1;
    animation: show 2s;


}
.registration_hide {
  position: absolute;
  left: 334px;
  top: 0;
  padding: 25px;
  width: 300px;
  height: 100px;
  border: 1px solid black;
  opacity: 0;
  animation: hide 2s;
  
  
  }

/* show/hide slide */
@keyframes slideDown {
    0% {
        top: -200px;
    }


    100% {
        top: 129px;

    }
}
@keyframes slideTop {
    0% {
        top: 129px;
    }


    100% {
        top: -200px;

    }
}
.player_mesage_show {
    top: -200px;
    z-index: 100;
    padding: 65px;
    width: 200px;
    height: 190px;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: slideTop 2s;
    
}


.player_mesage{
    position: absolute;
    left: 568px;
    top: 129px;
    z-index: 100;
    padding: 65px;
    width: 200px;
    height: 190px;
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

animation: slideDown 2s; 

} 

.gameField {
  position: relative;
    height: 500px;
display: flex;
flex-flow: column;
align-items: center;
}

#playerInfo_block {


    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}



.gameField_block {

    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;


}

.input_block {
    display: flex;
    flex-flow: row;
}
#firstPlayer_name{
    font-family: 'BIZ UDMincho', serif;


}
#secondPlayer_name{
    font-family: 'BIZ UDMincho', serif;

}
#firstPlayer_info {

    font-family: 'Pacifico', cursive;
    margin-left: 10px;
    width: 25%;
    height: 23px;
    background-color: aquamarine;

}

#secondPlayer_info {
    font-family: 'Pacifico', cursive;
    margin-left: 10px;
    width: 25%;
    height: 23px;
    background-color: aquamarine;
   }

#reg_valueOne  {
    padding-left: 5px;
    width: 70%;
    margin-bottom: 10px;
    background: #F8F9FA;
    border: 1px solid #DADBDC;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
#reg_valueTwo {
    padding-left: 5px;
    width: 70%;
    margin-bottom: 10px;
    background: #F8F9FA;
    border: 1px solid #DADBDC;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

#firstPlayer_gameField {
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    border: black 1px solid;
    box-shadow: 1px 2px 4px grey;
    background-color: aliceblue;
}
.bubble{
    text-align: center;
    display: block;
    background: lightblue;
    width: 200px;
    margin: 30px auto;
    border-radius: 513px 300px 400px 5px;
    padding: 20px;
    box-shadow: 1px 2px 4px grey;

}
.bubble_second{
    text-align: center;
    display: block;
    background: lightblue;
    width: 200px;
    margin: 30px auto;
    border-radius: 513px 300px 400px 5px;
    padding: 20px;
    box-shadow: 1px 2px 4px grey;

}

#secondPlayer_gameField{
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
    border: black 1px solid;
    box-shadow: 1px 2px 4px grey;
    background-color: aliceblue;

    }



      @keyframes show {
        0% {
            opacity:0;
               }
               100% {
                opacity:1;
            
              }

      }

      @keyframes hide {
        0% {
            opacity:1;
               }
               100% {
                opacity:0;
            
              }

      }